MOONSHOT_API_KEY=
MOONSHOT_MODEL=kimi-k3
PORT=
ICP_ASSET_BASE_URL=https://hrzvs-liaaa-aaaap-qusna-cai.icp0.io/data
ICP_BACKEND_CANISTER_ID=lj6bx-dyaaa-aaaap-qumhq-cai
ICP_HOST=https://icp-api.io
ALLOWED_ORIGINS=https://hrzvs-liaaa-aaaap-qusna-cai.icp0.io,https://hrzvs-liaaa-aaaap-qusna-cai.raw.icp0.io
